:root {
  --doppler-beaming: #ffffff;
  --photon-ring: #fdfdfdcc;
  --accretion-disk: #f7f7f791;
}

.hero-wrapper {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-title {
  color: #fff;
  /* font-family: var(--paragraph-font-family); */
  font-size: 3rem;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  padding-top: 5rem;
  grid-area: shadow;
  letter-spacing: 3px;
}

.main-description {
  color: #9f9fa0;
  grid-area: shadow;
  text-align: center;
  margin-top: 1.5rem;
}

@media screen and (min-width: 900px) {
  .shadow {
    width: 25vw;
    height: 25vw;
  }
}
