/* heading - MONTSERAT - font-family: 'Montserrat', sans-serif; */
/* paragraph - MERRIWEATHER - font-family: 'Merriweather', serif;*/
@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Poppins&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

:root {
  --heading-text-color: #ffffff;
  --paragraph-color: #9f9fa0;
  --paragraph-font-family: "Merriweather", serif;
  --heading-font-family: "Montserrat", sans-serif;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(236, 236, 236, 0.164);
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(236, 236, 236, 0.411);
}

body {
  background: #101010;
  /* height: 200vh; */
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2%;
}
