/* heading - MONTSERAT - font-family: 'Montserrat', sans-serif; */
/* paragraph - MERRIWEATHER - font-family: 'Merriweather', serif;*/
@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Poppins&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

:root {
  --heading-text-color: #ffffff;
  --paragraph-color: #9f9fa0;

  --paragraph-font-family: "Merriweather", serif;
  --heading-font-family: "Montserrat", sans-serif;
}

body {
  background: #101010;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2%;
}
